#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.principal {
  width: 100%;
  display: grid;
  place-items: center;
}

.list {
  width: 100%;
}

ul {
  list-style-type: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
